@use "./mixin" as mixin;

.grid {
    
    background-color: var(--light-grey);
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 30%);
    grid-auto-columns: repeat(3, 30%px);
    gap:20px ;
    @include mixin.lg-lt {
        grid-template-columns: repeat(2, 35%);
        grid-auto-columns: repeat(2, 35%);
    }
    @include mixin.md-lt {
        grid-template-columns: repeat(2, 35%);
        grid-auto-columns: repeat(2, 35%);
       
    }
    @include mixin.xs {
        grid-template-columns:  65%;
        grid-auto-columns:  25%;
        
    }
    @include mixin.sm{
        grid-template-columns: repeat(2, 45%);
        grid-auto-columns: repeat(2, 45%);
    }
    @include mixin.lg{
        grid-template-columns: repeat(2, 35%);
        grid-auto-columns: repeat(2, 45%);
    }
}
.item{
    // height: 500px;
    // border: 1px solid var(--primary);
}

.contentCard{
    width: 1130px;
}

.search{
    padding: 10px 15px;
    border: 2px solid var(--gray-2);
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    input{
        outline: 0;
        border: 0;
    }
}

.card{
    border-radius: 20px;
    background-color: var(--light-grey);
    width: 80%;
    margin:50px auto;
}

.li{
    color: white;
    font-size: 28px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s opacity;
    &:hover {
      transition: 0.2s opacity;
      opacity: 0.8;
      color: var(--gray-2);
    }
}

@include mixin.md-lt{
.card{
    width: 80%;
    margin: 0 auto;
}
}