@use "../sass/mixin" as mixin;

.appContainer {
    min-height: 80vh;
    // width: 80vw;
    // margin: 0 auto;
    // height: 100vh;
  }
  
  .feedback {
    color: red;
    font-size: 18px;
    font-weight: 600;
  }
  
  .feedbackGood {
    color: green;
    font-size: 18px;
    font-weight: 600;
  }

  .logo{
    width: 50px;
    height: 25px;
    margin-bottom: 20px;
  }
  
  input {
    width: 35vw;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
  }

  .card {
    border-radius: 20px;
    background-color: var(--light-grey);
    // margin-bottom: 100px;
    width: 50%;
  }

  @include mixin.md-lt{
    .button{
        display: block;
    }
   
  }