@use "../../sass/mixin" as mixin;

.projet{
    
    // margin-top: 20px;
    p{
        margin-left: 5px;
    }
    h3{
        color: white;
    }
    border-radius: 20px;
    height: 460px;
    cursor: pointer;
    .imgContainer{
        overflow: hidden;
         
        img{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
           
            width: 100%;
            height: 100%;
            transition: 1s transform;
            &:hover{
                transform: scale(1.1);
            }
        }
        @include mixin.xs {
            // grid-template-columns: 40%;
            // grid-auto-columns: 40%;
            height: 220px;
            
        }
        @include mixin.md{
            height: 350px;
        }
        @include mixin.sm{
            height: 250px;
            
        }
    }
   
    
    .title{
        // height: 50px;
        border : 1px solid var(--gray-2);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        p{
            font-size: 14px;
        }
        h3{
            font-size: 16px;
        }
        @include mixin.xs{
                p{
                    font-size: 10px;
                }
                h3{
                    font-size: 14px;
                }
        }
    }
    .text-error{
        color: var(--error);
    }
    .test{
        color: aqua;
    }

    .title :not(i) {
        transition: .2s color;
        &:hover{
            color: var(--error);
        }
    }
}